<%= form_for @article, :html=> {:multipart => true} do |f| %>
  <div class="left_half">
    <% if format == "new" then %>
      <h1>New article</h1>
    <% elsif format == "edit" then %>
      <h1>Editing Article</h1>
    <% end %>
    <div id="basic_information">
      <%= f.text_field :title, :size => 40, maxlength: 80, placeholder: "Enter title here" %>
      <%= f.text_field :category, :size => 15, maxlength: 20, placeholder: "Enter category here" %>
    </div>
    <div id="content_cards">
      <% @article.article_components.order("position asc").each do |component| %>
        <%= f.fields_for :article_components, component do |builder| %>
	  <%= render "articles/components/article_component_fields", f: builder %>
        <% end %>
      <% end %>
    </div>
    <%= f.submit %>
    <% if format == "new" then %>
      <%= link_to 'Back', articles_path %>
    <% elsif format == "edit" then %>
      <%= link_to 'Show', @article %> |
      <%= link_to 'Back', articles_path %>
    <% end %>
  </div>
  <div class="right_half">
    <div id="tabs">
      <ul>
        <li><a href="#text">Text</a></li>
        <li><a href="#number">Number</a></li>
        <li><a href="#quote">Quote</a></li>
        <li><a href="#image">Image</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#news_link">News Links</a></li>
      </ul>
      <div id="text">
        <%= link_to_add_components "Add", f, "text", 1 %>
      </div>
      <div id="number">
        <%= radio_to_add_templates("style", "1", "number", f) %> 1<br />
        <%= radio_to_add_templates("style", "2", "number", f) %> 2<br />
        <%= link_to "Add", "#", class: "add_templates", data: { model: "number"} %>
      </div>
      <div id="quote">
        <%= link_to_add_components "Add", f, "quote", 1 %>
      </div>
      <div id="image">
        <%= radio_to_add_templates("style", "1", "image", f) %> 1<br />
        <%= radio_to_add_templates("style", "2", "image", f) %> 2<br />
        <%= radio_to_add_templates("style", "3", "image", f) %> 3<br />
        <%= link_to "Add", "#", class: "add_templates", data: { model: "image"} %>
      </div>
      <div id="video">
        <%= radio_to_add_templates("style", "1", "video", f) %> 1<br />
        <%= radio_to_add_templates("style", "2", "video", f) %> 2<br />
        <%= radio_to_add_templates("style", "3", "video", f) %> 3<br />
        <%= link_to "Add", "#", class: "add_templates", data: { model: "video"} %>
      </div>
      <div id="news_link">
        <%= link_to_add_components "Add", f, "news_link", 1 %>
      </div>
    </div>
  </div>

<% end %>
