<h1>Listing component_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @component_types.each do |component_type| %>
  <tr>
    <td><%= component_type.name %></td>
    <td><%= link_to 'Show', component_type %></td>
    <td><%= link_to 'Edit', edit_component_type_path(component_type) %></td>
    <td><%= link_to 'Destroy', component_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component type', new_component_type_path %>
